
.App {
  text-align: center;
  box-sizing: border-box;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.wrapper{
  padding:35px;
}

Header {
  position: sticky;
  text-align: right;
  font: normal normal  18px/35px Montserrat;
  min-height: fit-content;
}

.logo {
  width: 45%;
}



/* Home Styles */
body img {
  width: 25%;
}
.heading {
  text-align: left;
  font: normal normal 600 20px/35px Montserrat;
  letter-spacing: 0px;
  color: #081C36;
  margin-top: -1290px;
  z-index: 1;
}
.subheading {
  text-align: left;
  font: normal normal 600 12px/20px Montserrat;
  letter-spacing: 0px;
  color: #404040;
  opacity: 0.6;
  margin:0;
  padding: 0px 0px 12px 0px;
}
.slogan{
  margin: 0 0 0 25px;
}
.slogan img{
  width: 55%;
  z-index: -1;
  padding-top: 25px;
}
.dailyDrop{
  margin-bottom:50px;
}
.dailyDrop .dailyDropCountdown{
  margin-left: 190px;
  margin-top: -145px;
  display: flex;
  width: 14px;
}
.dailyDrop .dailyDropCountdown div{
  flex-direction: column;
  flex-wrap: nowrap;
}

.dailyDrop .dailyDropCountdown .countdown{
  align-items: center;
  font: normal normal 800 12px/20px Montserrat;
  padding:15px;
}
.dailyDrop .dailyDropCountdown .countdown:not(:last-of-type) {
  border-right: 2px solid #bbbbbb36 ;

}
/* Limited Edition */
.limitedEditionDrop .dailyDropCountdown{
  display: flex;
  width: 14px;
}
.limitedEditionDrop .dailyDropCountdown div{
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.limitedEditionDrop .dailyDropCountdown .countdown{
  align-items: center;
  font: normal normal 800 12px/20px Montserrat;
  padding:15px;
}
.limitedEditionDrop .dailyDropCountdown .countdown:not(:last-of-type) {
  border-right: 2px solid #bbbbbb36 ;

}


.dailyDrop img{
  width: 40%;
  margin-top: 50px
}
.drops{
  text-align: left;
  font: normal normal 600 12px/20px Montserrat;
  letter-spacing: 0px;
  color:#E74010;
  opacity: 0.6;
  margin-top: 45px;
  padding: 10px 0px 0px 0px;
}
.drops p{
  text-align: left;
  font: normal normal 600 20px/35px Montserrat;
  letter-spacing: 0px;
  color: #081C36;
  margin-top: 25px;
  z-index: 1;
}
.purchaseButton{
  text-align: center;
  font: normal normal 500 10px/35px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1; 
  background: #E74010 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 21px #65656536;
  border-radius: 10px;
  border:none;
  opacity: 1;
  padding: 0 15px 0 15px;
}
.limitedEditionDrop img{
  width: 130%;
  margin-bottom: 15px;
}
.limitedEditionDrop{
  padding: 0;
  margin-bottom: 100px;
  display: grid;
  grid-template:"title title title"
                "countdown countdown countdown"
                "commonPack rarePack superRarePack"  1fr;
}
  .limitedEditionDrop .purchaseButton{
    margin-left: 35px;
    margin-top:10px;
  }

  .limitedEditionDrop .grid-title{
    margin-left: 90px;
  }


  /* Series Completion */
.seriesCompletion{
  margin-top: 15px;
  background: transparent linear-gradient(92deg, #FF5C5C 0%, #FFD21F 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.seriesCompletion h6{
  color:#FFF61F;
  font-size: 10px;
  padding: 30px 0 0 30px;
}
.seriesCompletion h2{
  color:#FFFFFF;
  letter-spacing: 0.27px;
  font: normal normal 600 15px/15px Montserrat;
  padding-left:30px;
}
.seriesCompletion .purchaseButton{
  background: #FFFE4B 0% 0% no-repeat padding-box;
  font: normal normal 700 10px/35px Montserrat;
  color:#1D1D1D;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  margin-left:30px;
  opacity: 1;
}
.burningPoo{
  width: 20%;
  margin-left:-140px;
}
.fairyPoo{
  width: 20%;
  margin-left: 110px;
  margin-top: 25px;
  z-index: -1;
}
.holoPoo{
  width: 20%;
  margin-top:65px;
  margin-left:-50px;
  z-index: 1;
}



/* IPads and Tablets */
@media (min-width: 481px) {
  .text {
    font-size: 18px;

  }
}

/* Small Screens & Laptops */
@media (min-width: 769px) {
  .text {
    font-size: 16px;
  }

}

/* Desktops & large screens */
@media (min-width: 1025px) {
  .text {
    font-size: 16px;
  }
  .logo {
    width: 10%;
    padding-left: 35px;;
  }
  .wrapper{
    padding:10%;
  }
  /* Home Styles */
  body img {
    width: 35%;
  }

  .subheading {
    font: normal normal 600 33px/45px Montserrat;
  }
  .heading {
    font: normal normal 600 90px/120px Montserrat;
  }
}
.limitedEditionDrop .grid-title{
  grid-area: title;
  padding-bottom: 5px;
}
.limitedEditionDrop .dailyDropCountdown{
  grid-area: countdown;
  padding-bottom: 5px;
}
.limitedEditionDrop .grid-commonPack{
  grid-area: commonPack;
}
.limitedEditionDrop .grid-rarePack{
  grid-area: rarePack;
}
.limitedEditionDrop .grid-superRarePack{
  grid-area: superRarePack;
}

/* SVG STYLING */
svg{
  overflow:visible !important;
  z-index: -1 !important;
}


