
.App {
  text-align: center;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.wrapper{
  padding:35px;
}

Header {
  position: sticky;
  text-align: right;
  font: normal normal  18px/35px Montserrat;
  min-height: fit-content;
}

.logo {
  width: 45%;
}
header button.btn.btn-link {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  color:#E74010;
  opacity: 1;
}

header button.btn.btn-link:hover{
  box-shadow: 0px 2px 6px #00000029;

}
.navbar-light .navbar-toggler{
  border: none !important;
  align-items: flex-start;
}

a.nav-link{
  text-align: right;
  font: normal normal 600 18px/35px Montserrat !important;
  letter-spacing: 0px;
  color:#E74010 !important;
  text-transform: uppercase;
  opacity: 1;
  border-bottom: 1px solid #cfd4d9;
  padding-top: none;
}
.nav .navbar-nav {
  display: block;
  padding: 10px;
  position: sticky;
  text-align: left;
  font: normal normal 600 18px/35px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
 position: fixed;
}
nav.navbar.navbar-expand-md.navbar-light{
  padding-left: 25px;
  display: block;
  border: none;
}


/* Home Styles */
body img {
  width: 25%;
}
.heading {
  text-align: left;
  font: normal normal 600 20px/35px Montserrat;
  letter-spacing: 0px;
  color: #081C36;
  margin-top: 25px;
  z-index: 1;
}
.subheading {
  text-align: left;
  font: normal normal 600 12px/20px Montserrat;
  letter-spacing: 0px;
  color: #404040;
  opacity: 0.6;
  margin:0;
  padding: 0px 0px 12px 0px;
}

.slogan img{
  width: 55%;
  z-index: -1;
  padding-top: 25px;
}
.drops{
  text-align: left;
  font: normal normal 600 12px/20px Montserrat;
  letter-spacing: 0px;
  color:#E74010;
  opacity: 0.6;
  margin:0;
  padding: 10px 0px 0px 0px;
}
.drops p{
  text-align: left;
  font: normal normal 600 20px/35px Montserrat;
  letter-spacing: 0px;
  color: #081C36;
  margin-top: 25px;
  z-index: 1;
}
.purchaseButton{
  text-align: center;
  font: normal normal 500 10px/35px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1; 
  background: #E74010 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 21px #65656536;
  border-radius: 10px;
  border:none;
  opacity: 1;
  padding: 0 15px 0 15px;
}
.limitedEditionDrop img{
  width: 100%;
  margin: -20px;
}
.limitedEditionDrop{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template:"countdown countdown countdown""commonPack rarePack superRarePack"  1fr;
}
  .limitedEditionDrop .purchaseButton{
    margin-left: 5px;
    margin-top:10px;
  }


  /* Series Completion */
.seriesCompletion{
  margin-top: 15px;
  background: transparent linear-gradient(92deg, #FF5C5C 0%, #FFD21F 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.seriesCompletion h6{
  color:#FFF61F;
  font-size: 10px;
  padding: 30px 0 0 30px;
}
.seriesCompletion h2{
  color:#FFFFFF;
  letter-spacing: 0.27px;
  font: normal normal 600 15px/15px Montserrat;
  padding-left:30px;
}
.seriesCompletion .purchaseButton{
  background: #FFFE4B 0% 0% no-repeat padding-box;
  font: normal normal 700 10px/35px Montserrat;
  color:#1D1D1D;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  margin-left:30px;
  opacity: 1;
}
.burningPoo{
  width: 20%;
  margin-left:-140px;
}
.fairyPoo{
  width: 20%;
  margin-left: 110px;
  margin-top: 25px;
  z-index: -1;
}
.holoPoo{
  width: 20%;
  margin-top:65px;
  margin-left:-50px;
  z-index: 1;
}



/* IPads and Tablets */
@media (min-width: 481px) {
  .text {
    font-size: 18px;

  }
}

/* Small Screens & Laptops */
@media (min-width: 769px) {
  .text {
    font-size: 16px;
  }

}

/* Desktops & large screens */
@media (min-width: 1025px) {
  .text {
    font-size: 16px;
  }
  .logo {
    width: 10%;
    padding-left: 35px;;
  }
  a {
    padding: 10px;
  }
  /* Home Styles */
  body img {
    width: 35%;
  }

  .subheading {
    font: normal normal 600 33px/45px Montserrat;
  }
  .heading {
    font: normal normal 600 90px/120px Montserrat;
    margin-top: 200px;
  }
}

/* Extra Large Screens */
@media (min-width: 1201px) {
  .text {
    font-size: 16px;
  }

}
.limitedEditionDrop .grid-countdown{
  grid-area: countdown;
  padding-bottom: 5px;
}
.limitedEditionDrop .grid-commonPack{
  grid-area: commonPack;
}
.limitedEditionDrop .grid-rarePack{
  grid-area: rarePack;
}
.limitedEditionDrop .grid-superRarePack{
  grid-area: superRarePack;
}


