 /* grid layouts */

.dailyDrop .grid-dailyEmoji{
  grid-area: dailyEmoji;
}
.dailyDrop .grid-dropCountdown{
  grid-area: countdown;

}  

.dailyDrop .grid-dropsTitle{
  grid-area: title;
}

.dailyDrop .grid-dropsDescription{
  grid-area: dropsDescription;
}
.dailyDrop .grid-buttons{
  grid-area: buttons;
}
.dailyDrop{
  width: 100%;
}
.dailyDrop img{
    width: 100%;
    margin-top:50px;
}
.drops{
    margin-top: 20px;
    font: normal normal 600 16px/20px Montserrat;
    color:#E74010;
  }
.dropTitle{
    margin-top: 20px;
    font: normal normal 800 25px/30px Montserrat;
    color:#000000;
}
.dailyDrop .grid-dropDescription{
  margin-top: 20px;
  font: normal normal 600 14px/16px Montserrat;
  color:#000000;
}
.dailyDrop .dropCountdown{
  margin-left: -15px;
}


  
.dailyDrop {
    margin-top: 100px;
    width: 100%;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template:
    "dailyEmoji countdown"
    "dailyEmoji title"
    "dailyEmoji dropsDescription"
    "dailyEmoji buttons"
    / 1fr 1fr;
}

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

.drops{
    font: normal normal 600 16px/20px Montserrat;
  }
  .dropTitle{
    font: normal normal 800 40px/55px Montserrat;
}
.dailyDrop .grid-dropDescription{
  font: normal normal 400 16px/16px Montserrat;
}

  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .drops{
        font: normal normal 600 18px/25px Montserrat;
      }
      .dropTitle{
        font: normal normal 800 65px/85px Montserrat;
    }
    .dailyDrop .grid-dropDescription{
      font: normal normal 400 18px/30px Montserrat;
    }
  }
  