
.slogan{
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template: "heading sloganImg starry "
    "subheading sloganImg starry"
    "button sloganImg starry"/ 200px 300px auto ;
  }
  .grid-heading{
    text-align: left;
  font: normal normal 600 20px/30px Montserrat;
  letter-spacing: 0px;
  color: #081C36;
  opacity: 1;
  }
  .grid-subheading{
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #404040;
    opacity: 0.6;
  }
  .grid-sloganImg{
    width: 100%;

  }
  
 .grid-starry{
  box-shadow: 0px 1px 21px #68676736;
  border-radius: 5px;
  width: 205px;
  height: 30px;
  margin-left:-180px;
  margin-top: -5px;
 } 
  
 .grid-cool{
  box-shadow: 0px 1px 21px #68676736;
  border-radius: 5px;
  width: 190px;
  height: 45px;
  margin-left:-160px;
  margin-top: 65px;
 } 

 .grid-mindBlown{
  box-shadow: 0px 1px 21px #68676736;
  border-radius: 5px;
  width: 190px;
  height: 45px;
  margin-left:170px;
  margin-top: -126px;
  z-index:1;
 } 
  
  
  
  /* Small Devices */
  @media (min-width: 650px) {
    .grid-heading{
      font: normal normal 600 30px/35px Montserrat;
      } 
    
    .grid-subheading{
        font: normal normal 600 18px/30px Montserrat;
      }
      .grid-sloganImg{
       margin-left: 125px;
      }
      .grid-mindBlown{
        margin-left: 240px;
        margin-top: -130px;
      }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  
  .grid-heading{
    font: normal normal 600 50px/75px Montserrat;
    } 
  
  .grid-subheading{
      font: normal normal 600 24px/35px Montserrat;
    }
    .grid-sloganImg{
      width: 100%;
    }
    .slogan{
      grid-template: "heading sloganImg starry "
                      "subheading sloganImg starry"
                      "button sloganImg starry"/ 400px 400px auto ;
    }
    .grid-sloganImg{
      width: 125%;
     margin: 0;
   }
   .grid-mindBlown{
    margin-left: 340px;
    margin-top: -230px;
  }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .wrapper{
      margin: 150px;
    }
    .grid-heading{
      font: normal normal 600 50px/75px Montserrat;
   
      } 
    
    .grid-subheading{
        font: normal normal 600 24px/35px Montserrat;
      }
      .grid-mindBlown{
        margin-left: 1040px;
        margin-top: -300px;
      }
      .grid-cool{
        margin-left: -800px;
     
      }

    
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
.wrapper{
 margin: 271px;
}

.grid-heading{
 font: normal normal 600 90px/120px Montserrat;
 margin-bottom: 0;
 } 
.grid-subheading{
   font: normal normal 600 33px/45px Montserrat;
   margin-bottom: 0;
 }
.slogan{
   grid-template:  "heading sloganImg starry "
   "subheading sloganImg starry"
   "button sloganImg starry"/ 1000px 700px;
 }
 .grid-sloganImg{
  margin: 0 0 0 -85px;
}
.grid-starry{
      
  margin-left:-320px;
  margin-top: 40px;
 } 
  
  }
  
  /* grid layouts */
  .slogan .grid-sloganImg{
    grid-area: sloganImg;
  }
  .slogan .grid-heading{
    grid-area: heading;
  }
  .slogan .grid-subheading{
    grid-area: subheading;
  }
  .slogan .grid-button{
    grid-area: button;
  }
  .slogan .grid-starry{
    grid-area: starry;
  }


  